# Conf for Docker image 'rack', using Ubuntu 20.04

# Markus Peura fmi 
 
# Include paths
# CCFLAGS='-std=gnu++11 -fopenmp -I/usr/include/geotiff -I/usr/include/hdf5/serial'
CCFLAGS='-std=c++11 -fopenmp -I/usr/include/geotiff -I/usr/include/hdf5/serial'

# Library paths
# LDFLAGS='-std=gnu++11 -fopenmp -L/usr/lib/x86_64-linux-gnu/hdf5/serial -lhdf5 -lproj -lpng -ltiff -lgeotiff'
LDFLAGS='-std=c++11 -fopenmp -L/usr/lib/x86_64-linux-gnu/hdf5/serial -lhdf5 -lproj -lpng -ltiff -lgeotiff'

# Directory prefix for binary executable: ${prefix}/bin/
prefix='/usr/local'
 
# GeoTiff support (optional)
USE_GEOTIFF=YES
