# Metadata for radar 'fiuta'

SOURCE="NOD:fiuta,ORG:fi,CMT:Single-radar"
NOD="fiuta"
WMO=""
PLC=""
LAT=""
LON=""
HEIGHT=""
PROJDEF="+proj=aeqd +lon_0=26.3189 +lat_0=64.7749 +ellps=WGS84"
BBOX="21.4734,62.4469,32.0369,66.9151"
