# Conf for Docker image 'rack', using Ubuntu 18.04

# Markus Peura fmi 
 
# Include paths
CCFLAGS='-I/usr/include/geotiff -I/usr/include/hdf5/serial'

# Library paths
LDFLAGS='-lproj -lpng -ltiff -lgeotiff -L/usr/lib/x86_64-linux-gnu/hdf5/serial -lhdf5'

# Directory prefix for binary executable: ${prefix}/bin/
prefix='/usr/local'
 
# GeoTiff support (optional)
USE_GEOTIFF=YES
